
.la.time-selector {
	position: relative;
	margin-bottom: 1em;
	width: 100%;
}

.la.time-selector #range-selector {
	position: absolute;
	right: 0;
}

.la .progress {
	height: auto;
	border: none;
	padding: 0;
	padding-top: 10px;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-weight: bold;
}

.la .progress-bar-background {
	width: 100%;
	height: 6px;
	background-color: #ccc;
}

#view-selector > div {
    display: inline-block;
}

div.la table td:first-child {
	text-align: right;
}