
/* Force scrollbar, to avoid jumps when table becomes small after
   selecting particular time or category. */
html {
    overflow-y: scroll;
}

.la.time-selector {
	position: relative;
	margin-bottom: 1em;
	width: 100%;
}

.la.time-selector #view-selector {
	position: absolute;
	right: 0;
}

/* Style range dispay similar to button, to ensure
   perfect alignment. */
.la .range-display {
	display: inline-block;
	vertical-align: middle;
	padding: 6px 12px;
	border: 1px solid transparent;	
}

.la .progress {
	height: auto;
	border: none;
	padding: 0;
	padding-top: 10px;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-weight: bold;
}

.la .error {
	padding: 0;
	padding-top: 10px;
}

.la .progress-bar-background {
	width: 100%;
	height: 6px;
	background-color: #ccc;
}

.la .secondary-chart-title,
.la .table-title {
	font-weight: bold;
}

.la .secondary-chart-subtitle,
.la .table-subtitle {
	color: #777;
}

#view-selector > div {
    display: inline-block;
}

div.la table {
	margin-top: 10px;
}

div.la table td:first-child {
	text-align: right;
	width: 1%;
    white-space: nowrap;
}